
@{
    ViewBag.Title = "UserExists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Ohhh no! Seems like the user has already been created. <br />
    Try to register with a mail that has not been used.
        </h2>

